<div>
    <md-toolbar>Send SMS</md-toolbar>

    <form name="smsForm" layout="column" ng-submit="send(message)">
        <!--Config::  {{config}}-->
        <md-input-container layout-wrap>
            <label for="autocompleteInputName">Sender ID</label>
            <input id="autocompleteInputName" name="autocompleteInputName"
                   ng-model="senderID" af-senderid ng-required="true">
        </md-input-container>

        <div class="error" ng-messages="smsForm.autocompleteInputName.$error">
            <div ng-message="validCharacters">*Invalid characters detected</div>
            <div ng-message="required">*SenderID is required</div>
        </div>

        <md-input-container>
            <label>Country Code</label>
            <md-select ng-model="countryCode" required>
                <md-option ng-repeat="(country, code) in countryCodesObj track by $index">
                    {{country+' ('+code+')'}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container layout-wrap>
            <label for="recipient">Recipient's number - 10 digits long</label>
            <input id="recipient" name="recipient" type="number"
                   ng-keyup="!(Sms.mobileNo.$invalid || Sms.prefix.$invalid || quickSms.smsForm.mobile.length == 0 || quickSms.smsForm.mobile == null ) ? quickSms.checkKey($event) : null"
                   ng-model="recipient"
                   ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]+$/"
                   ng-class="{submitted: quickSms.smsForm.submitted}"
                   ng-class="{success: Sms.mobileNo.$valid && !Sms.mobileNo.$pristine, danger: Sms.mobileNo.$invalid}"
                   required>
        </md-input-container>

        <md-input-container>
            <label for="encoding">Select your encoding</label>
            <md-select id="encoding" ng-model="endcodingName">
                <md-optgroup ng-repeat="group in possibleEncodings track by $index" label="{{ group.id }}">
                    <md-option ng-repeat="name in group.name" ng-selected="name==encoding.name" value="{{ name }}"> {{ name }}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>

        <af-sms-textarea></af-sms-textarea>

        <div layout="row">
            <md-button type="submit" class="md-accent md-raised" ng-disabled="!message">Preview</md-button>
            <span flex></span>
            <!--<md-button type="submit" class="md-accent md-raised" ng-disabled="!message || !recipient || !senderID">-->
            <md-button type="submit" class="md-accent md-raised" ng-disabled="smsForm.$invalid">
                Send
            </md-button>
        </div>
    </form>

</div>
